body {
	background-color: #fff !important;
}

img, * > img, img > *, * > img > * {
	opacity: 0 !important;
}

div, p, h1, h2, h3, h4, h5, span, ul, li, section  {
	border: 1px solid !important;
	border-radius: 4px;
	background-image: none !important;
}

div > *, section > * {
	border: 1px solid !important;
	border-radius: 4px !important;
	background-image: none !important;
	background-color: #fff !important;
}

div::after {
	background-image: none !important;
	background-color: #fff !important;
}

div > * > a , div > a > * , div > * > a > *, * > a, * > a > *, * > a > * > * {
	border: 1px solid #ed5353 !important;
	border-radius: 4px;
	background-color: #ed5353 !important;
	color: #ed5353 !important;
}

button > * , *  > button , * > button > {
	border: 1px solid #ed5353 !important;
	border-radius: 4px;
	background: #ed5353 !important;
	color: #ed5353 !important;
}

* > input , input > * , * > input > * {
	border: 1px solid #ed5353 !important;
	border-radius: 4px;
	background: #ed5353 !important;
	color: #ed5353  !important;
}
